<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head th:include="layout :: htmlhead"></head>
    
    <body>
        <div class="container">
			<nav th:replace="layout :: menu">(menu)</nav>

            <form th:action="@{/fornecedor/(form)}" th:object="${fornecedor}" method="POST">
                
                <input type="hidden" th:field="*{id}">

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="txtnome">Nome do Fornecedor:</label>
                            <input type="text" th:field="*{nome}" id="txtnome" class="form-control"> 
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="txturlAPI">Url API:</label>
                            <input type="text" th:field="*{urlAPI}" id="txturlAPI" class="form-control"> 
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="txturlAPIAuth">Url API Auth:</label>
                            <input type="text" th:field="*{urlAPIAuth}" id="txturlAPIAuth" class="form-control"> 
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="txtusuario">Usuário:</label>
                            <input type="text" th:field="*{usuario}" id="txtusuario"  class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="txtsenha">Senha:</label>
                            <input type="text" th:field="*{senha}" id="txtsenha" class="form-control">
                        </div>
                    </div>
                </div>
                
                <button type="submit">Enviar</button>

            </form>

        </div>
        <div th:include="layout :: footer" id="footer">(footer)</div>
    </body>
</html> 